body {
    text-align: center;
    background-size: cover;
  }
  
  .btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: lightgreen;
  }
  
  .purple {
    background-color: purple;
  }
  
  .red {
    background-color: red;
  }
  
  .flash {
    background-color: white;
  }
  
  .userflash {
    background-color: green;
  }
  
  .lose {
    background-color: red;
  }
  
  #score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5rem;
  }