body {
    margin: 0;
    padding: 0;
    font-family: arial;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 20s ease-in-out infinite;
    background-size: cover;
}

@keyframes animate {

    0%,
    100% {
        background-image: url("1.png");

    }

    25% {
        background-image: url("4.jpg");
    }

    50% {
        background-image: url("6.png");
    }

    75% {
        background-image: url("5.jpg");
    }
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 140px;
    margin: 0 15px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
}


.navbar ul li a:hover {
    color: #4defa1;

}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-size: cover;
    position: relative;
    box-shadow: 0 0 20px #4defa1;
    opacity: 0.95;
}
@media only screen and (max-width: 1100px) {
    .container {
        background-color: black;
        opacity: 1;
    }
}